DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19QZThaNjFZUlFHM3dYOU40cF9mY20iLCJhcGlfa2V5IjoiMDFLNDNYMk5QTVFYREJKS0paRzU0UVQ1NzYiLCJ0ZW5hbnRfaWQiOiJjYjU5YmU5ZGJmOWM2ZDM2NjVjNDc2ZDk4YTBlY2UxMTkyOGU2ZDc0MWUzOTI5NDQ4MDM5NzUwYTRjMWJkN2FlIiwiaW50ZXJuYWxfc2VjcmV0IjoiZmJhNmIwNjMtYjAxMC00ZTVlLTg1MTEtZWQ0YWM1OTMyNjY2In0.6LoNnNg5dw3ds34XvfufuEIHHbcKQInmCqX1p0idxFg"
VITE_BACKEND_URL="http://localhost"
VITE_BACKEND_PORT="5174"

# Pase todo el prisma a postgresql para que tengamos la misma db y nos dejemos de
# romper los huevos, lo que si verifica que tengas internet pq mucho nose como funciona esto